.main__content{
    width: 100%;
}
.benefits__card{
    width: 100%;
    min-height: 247px;
    position: relative;
    padding: 84px 24px 24px 24px;
    background: linear-gradient(142.11deg, #f8f8f8 0.57%, #fbfbfb 78.12%);
    box-shadow: -10px -10px 25px #fff, 10px 10px 25px rgb(0 0 0 / 8%);
    border-radius: 30px;
    margin-top: 30px;
}
.benefits__cardNumber{
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;
    opacity: .4;
    position: absolute;
    top: 10px;
    left: 24px;
}
.benefits__block{
    position: relative;
    z-index: 2;
}
.benefits__cardTitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #0c0a14;
    padding-bottom: 28px;
}
.benefits__cardDesc{
    padding-bottom: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    color: #4b4b4b;
}